@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&display=swap');

html,
body {
  color: #111 !important;
  padding: 0;
  margin: 0;
  font-family: 'Kanit', sans-serif !important;
}
body {
  background: #fff !important;
  /* padding-top: 47px; */
  padding-top: 1em!important;
  padding-bottom: 1em!important;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
}



a {
  color: inherit;
  text-decoration: none;
}
p a {
  color: #ffc107 !important;
  text-decoration: underline !important;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
}
hr {
  opacity: 0.3;
}
* {
  box-sizing: border-box;
}

.bg-search{
  background-image: url('/images/general-large-6b86fad29f1e8919155e0a9e5bcd54b7.jpg') !important;

  height: 523px !important;

  background-size: cover;
}
.btn-sell{
  float:right;
  background-color: #00C900 !important;
  color: #fff !important;
}
.btn-love{
  margin: 12px;
}
.btn-chat{
  margin: 6px;
}

@media only screen and (max-width: 500px) {
  .bg-search{
    height: 145px !important;
  }
  .logo1{
    width: 107 !important;
    height: 37 !important;
  }
  .btn-love{
    display: none;
  }
  .text-login{
    display: none;
  }
  .btn-sell{
    float:right;
    background-color: #00C900 !important;
    color: #fff !important;
  }
  .btn-chat{
    margin: 10px;
  }
}