@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&display=swap');

html,
body {
  color: #111 !important;
  padding: 0;
  margin: 0;
  font-family: 'Kanit', sans-serif !important;
}
body {
  background: #fff !important;
  /* padding-top: 47px; */
  padding-top: 1em!important;
  padding-bottom: 1em!important;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}
p a {
  color: #ffc107 !important;
  text-decoration: underline !important;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
}
hr {
  opacity: 0.3;
}
* {
  box-sizing: border-box;
}
.container{
  padding:0 !important;
}


/*--------------------------- Header------------------------- */

.logo1{
  width: 220px !important;
  height: auto !important;
  margin-left: 5% !important;
}
.btn-love{
  margin-left: 40%;
  padding: 10px;
}
.btn-chat{
  padding: 4px;
}
.btn-login{
color: #00C900 !important;
margin-left: 2em !important;
margin-top: -2% !important;
}
.btn-sell{
  margin-left: 2em !important;
  margin-top: -40px !important;
  color: #fff !important;
  background-color: #00C900 !important;
}

.bg-search{
  background-image: url('/images/wp2570965.jpg') !important;
  width: 1920px !important;
  height: 500px !important;
}

.MuiContainer-maxWidthMd{
  max-width: 1920px !important;
}

.bg-searchfilter{
  width: 1920px !important;
  height: 500px !important;
}
.MuiPaper-root{
  background-color:#fff !important;
}
.btn-filter{
  width: 75px !important;
  height: auto !important;
  margin-left: 2em !important;
  margin-right: 2em !important;
}
.text-cat{
  color:#000 !important;
}
.MuiCardMedia-media{
  max-width: 75px;
  text-align: center !important;
}
.MuiCardMedia-root{
  display: initial !important;
}