@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&display=swap');

html,
body {
  color: #111 !important;
  padding: 0;
  margin: 0;
  font-family: 'Kanit', sans-serif !important;
}
body {
  background: #050090 !important;
  /* padding-top: 47px; */
  padding-bottom: 1em!important;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
}
.MuiPagination-ul{
  justify-content: center;
}



a {
  color: inherit;
  text-decoration: none;
}
p a {
  color: #ffc107 !important;
  text-decoration: underline !important;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
}
hr {
  opacity: 0.3;
}
* {
  box-sizing: border-box;
}

.bg-search{
  background-image: url('/images/general-large-6b86fad29f1e8919155e0a9e5bcd54b7.jpg') !important;

  height: 523px !important;

  background-size: cover;
}

.alice-carousel__prev-btn, .alice-carousel__next-btn {
  display: inline-block;

  box-sizing: border-box;
  width: 0% !important;
  padding: 10px 5px;
  margin-left: 1em !important;
  margin-right: 1em !important;

}
.MuiGridListTile-root{
  height: 325px !important;
}
.MuiToolbar-root{
  background-color: #001aab !important;
}

@media only screen and (max-width: 800px){
  .MuiOutlinedInput-root:hover{
  border-color: rgb(146 146 146) !important;
}
.MuiOutlinedInput-notchedOutline{
  border-color: rgb(146 146 146) !important;
}
.MuiOutlinedInput-notchedOutline::placeholder{
  color: #111 !important;
}
}
